{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'global.css' %}" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="topnav">
            <div class="">
                <a href="/">HOME</a> | <a href="/members">MEMBERS</a>
                {% comment %} <a href="/register">FORM</a> {% endcomment %}
            </div>
            <div class="">
                {% if user.is_authenticated %}
                <a>{{user.username|upper}}</a>
                <a class='btn' href='logout'>Logout</a>
                {% else %}
                <a class='btn' href="register">Sign up</a>
                <a class='btn' href="login">Login</a>
                {% endif %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
